.DS_Store
node_modules
semantic
/dist

*.css
!src/assets/fonts/*.css

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
semantic.json
package-lock.json
semantic.json
yarn.lock
