<div class="register">
   <div class="top"></div>
   <div class="register-form">
      <div class="content">
         <h1>Register</h1>
         <div class="text">Connect you Facebook and Linkedin accounts and get your profile prepared!</div>
         <sui-button class="facebook-btn" 
                     content="Register With Facebook" 
                     icon="facebook f" 
                     label-position="left" />
         <sui-button class="linkedin-btn" 
                     content="Register With Linkedin" 
                     icon="linkedin in" 
                     label-position="left" />
      </div>
      <div class="footer">
         Already have an account? 
         <router-link to="login">Log In</router-link>
      </div>
   </div>
   <div class="bottom">
         <!-- <img src="./../../assets/aura-logo-white.svg" alt="">  -->
      </div>
</div>