<div class="general-form aura-form aura-dark">
   <slot name="title"></slot>
   <span class="aura-blue">Autofill information with your LinkedIn account</span>
   <span>We will autofill your profile picture, name, tittle and summary</span>
   <sui-button class="linkedin-btn" 
               content="Autofill" 
               icon="linkedin in" 
               label-position="left"
               @click="autofillLinkedin()" />
   <sui-divider horizontal>Or</sui-divider>
   <div class="aura-field ui transparent input">
      <span is="sui-header" float="left">Name</span>
      <input v-model="info.name" placeholder="Type your name"/>
   </div>
   <sui-divider />
   <div class="aura-field ui transparent input">
      <span is="sui-header" float="left">Email</span>
      <input v-model="info.email" placeholder="Your Email Address"/>
   </div>
   <sui-divider />
   <div class="aura-field">
      <span is="sui-header" float="left">Country</span>
      <sui-dropdown
         placeholder="Select Country"
         search
         selection
      />
   </div>
   <sui-divider />
   <div class="aura-field ui transparent input">
      <span is="sui-header" float="left">Title</span>
      <input v-model="info.title" placeholder="Eg. Senior Phyton Developer"/>
   </div>
   <sui-divider />
   <div class="aura-field">
      <span is="sui-header" float="left">Summary</span>
      <div class="ui transparent input">
         <textarea   maxlength="280"
                     v-model="info.summary"
                     placeholder="Brief description of what you do (280 characters)">
         </textarea>
      </div>
   </div>
   <slot name="action-buttons"></slot>
   <slot name="footer"></slot>
</div>