<div class="first-time">
   <div class="talent">
      <div class="space"></div>
      <div class="content">
         <div class="greeting">
            <h1>Let's get started!</h1>First, tell us what you're looking for.
         </div>
         <div class="talent-card">
            <img src="./../../assets/Search-Illustration.svg" height="70px" width="70px" alt="">
            <h1>I'm looking for online work</h1>Find projects, get paid, get knowledge.
            <sui-button @click="chooseRole('talent')">Continue</sui-button>
         </div>
         <div class="bottom"></div>
      </div>      
   </div>
   <div class="company">
      <div class="content">
         <div class="top"></div>
         <div class="company-card">
            <img src="./../../assets/hire-Illustration.svg" height="70px" width="70px" alt="">
            <h1>I want to hire a talent.</h1>Find, collaborate with, and pay an expert.
            <sui-button @click="chooseRole('company')">Continue</sui-button>
         </div>
         <div class="bottom">
            <img src="./../../assets/aura-logo-black.svg" height="70px" width="70px" alt="">
         </div>
      </div>
      <div class="space"></div>      
   </div>
</div>